body{
   background-color: red;
   color: black;
}
section{
   background-color: crimson;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
}
.chamada-texto{
    margin-right: 40px;
}
img{
    height: 200px;
}
.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
